.headPic{
    margin-top: 5rem;
    width: 100%;
    height: 31.33rem;
    background-color: #ccc;
    background-image: url('../images/top/banner_05.jpg');
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.headline{
    font-family: PingFangSC-Medium,"microsoft yahei";
    width: 100%;
    height: 5rem;
    font-size: 1.66rem;
    line-height: 5rem;
    text-indent: 2rem;
    color: #ffffff;
    background-color: #3C7EC3;
}


.classmate{
    margin: auto;
    position: relative;
    padding-bottom: 0.83rem;
    width: 100%;
    /*max-width: 39rem;*/
    height: auto;
    text-align: center;
    background-color: #f8f8f8;
    overflow: hidden;
}
.classmateBox{
    margin: auto;
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding-bottom: 2.5rem;
    /*max-width: 33rem;*/
}

/*同学录*/
.classmateBoxMin{
    padding-top: 1.25rem;
    position: relative;
    margin: 2.5rem 1rem 0;
    display: inline-block;
    width: 12.5rem;
    height: auto;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
.classmateBoxMin .photo{
    margin-bottom: 0.83rem;
    display: inline-block;
    width: 6.66rem;
    height: 6.66rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #f5f5f5;
    background-size: 100% 100%;
}
.classmateBoxMin .name{
    display: inline-block;
    margin: -0.83rem 0 0;
    font-family: PingFangSC-Medium,"microsoft yahei";
    font-size: 1.33rem;
}
.classmateBoxMin .profile{
    width: 100%;
    padding: 0 0.58rem;
    display: inline-block;
    margin: 0.33rem 0 1rem;
    font-size: 1rem;
    color: #53606E;
    overflow : hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.classmateBoxMin .job{
    display: inline-block;
    margin-top: 0.41rem;
    font-size: 1rem;
    color: #3573B3;
}
.classmateBoxMin .title{
    float: left;
    padding: 0 0.58rem;
    width: 100%;
    height: 3.5rem;
    font-size: 1rem;
    line-height: 3.5rem;
    text-align: center;
    overflow : hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #F3F3F3;
    color: #53606E;
}


/*点击人物 （展示）*/
#shadeRemove{
    position: absolute;
    top: -6rem;
    right: -1.5rem;
    padding: 20px;
}
#shadeRemove{
    font-size: 2rem;
    color: #FFFFFF;
}
.shade{
    overflow: hidden;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.2);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;
    opacity: 0;
}
.lecturerClickBox{
    position: relative;
    /*overflow: hidden;*/
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 5rem 2rem;
    /*width: 34rem;*/
    height: auto;
    min-height: 30rem;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s ;
    -ms-transition: all 0.5s ;
    -o-transition: all 0.5s ;
    transition: all 0.5s ;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.lecturerClickBox .photo{
    margin: 0 auto 1.5rem;
    width: 8rem;
    height:8rem;
    background: #f5f5f5;
    background-size: 100% 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.lecturerClickBox .name{
    font-family: PingFangSC-Regular,"microsoft yahei";
    font-size: 1.6rem;
    font-family: PingFangSC-Medium,"microsoft yahei";
}
.lecturerClickBox .profile{
    margin: 2.4rem 0 0.5rem;
    font-size: 1.4rem;
}
.lecturerClickBox .job{
    margin: 0.8rem 0 0;
    font-size: 1.4rem;
    color: #3573B3;
}
.lecturerClickBox .achieve{
    margin-top: 1.5rem;
    height: auto;
    /*max-height: 13.4rem;*/
    overflow: auto;
    line-height: 2.6rem;
    font-size: 1.5rem;
    color: #53606E;

    display: -webkit-box;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*word-break:keep-all;*/
    /*white-space:nowrap;*/
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
/*点击人物 （展示）*/
#shadeRemove{
    position: absolute;
    top: -5rem;
    right: -1.25rem;
    padding: 20px;
}
#shadeRemove{
    font-size: 1.66rem;
    color: #FFFFFF;
}
.shade{
    overflow: hidden;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.2);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;
    opacity: 0;
}
.lecturerClickBox{
    position: relative;
    margin-left: 1.66rem;
    margin-right: 1.66rem;
    padding: 4.16rem 1.66rem;
    height: auto;
    min-height: 25rem;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s ;
    -ms-transition: all 0.5s ;
    -o-transition: all 0.5s ;
    transition: all 0.5s ;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.lecturerClickBox .photo{
    margin: 0 auto 1.25rem;
    width: 6.66rem;
    height:6.66rem;
    background: #f5f5f5;
    background-size: 100% 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.lecturerClickBox .name{
    font-family: PingFangSC-Regular,"microsoft yahei";
    font-size: 1.33rem;
    font-family: PingFangSC-Medium,"microsoft yahei";
}
.lecturerClickBox .profile{
    margin: 2rem 0 0.41rem;
    font-size: 1.16rem;
}
.lecturerClickBox .job{
    margin: 0.66rem 0 0;
    font-size: 1.16rem;
    color: #3573B3;
}
.lecturerClickBox .achieve{
    margin-top: 1.25rem;
    height: auto;
    overflow: auto;
    line-height: 2.16rem;
    font-size: 1.25rem;
    color: #53606E;

    display: -webkit-box;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*word-break:keep-all;*/
    /*white-space:nowrap;*/
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

@media (min-width: 750px) and (max-width: 1024px){
    .headPic{
        margin-top: 6rem;
        width: 100%;
        height: 40rem;
        background-color: #f5f5f5;
        background-image: url('../images/top/banner_06_IPAD.jpg');
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }

    .lecturerClickBox{
        margin-right: 10rem;
        margin-left: 10rem;
    }
}
