body{position: relative}
.topTagging{
    padding: 0 3.0357rem;
    height: 3.1428rem;
    line-height: 3.1428rem;
    border-bottom: 1.1428rem solid #F5F5F5;
}

#nickname{
    float: left;
    font-size: 1rem;
    font-family: PingFangSC-Regular,"microsoft yahei";
    color: #999999;
}
/*答题状态:(1/20)*/
#answerCount{
    float: right;
    font-size: 1.0714rem;
    font-family: PingFangSC-Medium,"microsoft yahei";
    color: #3573B3;
}

/*题目单选*/
.answerTitle{
    padding: 1.4285rem 3.0357rem;
    margin-bottom: 1.9285rem;
    font-family: PingFangSC-Medium,"microsoft yahei";
    font-size: 1.1428rem;
    color: #333333;
    border-bottom: 1px solid #ECECEC;
    background-color: #FFFFFF;
}
/*题目多选*/
.answerTitleCheckbox{
    padding: 1.4285rem 3.0357rem;
    margin-bottom: 1.9285rem;
    font-family: PingFangSC-Medium,"microsoft yahei";
    font-size: 1.1428rem;
    color: #333333;
    border-bottom: 1px solid #ECECEC;
}
.answerTitleCheckbox .checkbox{
    margin-top: 1.4285rem;
    line-height: 2rem;
}

/*单选*/
.optionBox{
    padding: 0 3.0357rem 11rem;
}
.optionBox li{
    border: 1px solid #E0E0E0;
    margin-bottom: 1.2857rem;
    padding: 1rem 1.4285rem;
    font-family: PingFangSC-Light,"microsoft yahei";
    font-size: 1.0714rem;
    text-align: left;
    color: #333333;
}
/*多选*/
.optionBoxCheckbox{
    padding: 0 3.0357rem 11rem;
    text-align: center;
    word-spacing: 0.8rem;
}
.optionBoxCheckbox li{
    border: 1px solid #E0E0E0;
    width: 9.7142rem;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 1.2857rem;
    padding: 1rem 0rem 1rem 1.4285rem;
    font-family: PingFangSC-Light,"microsoft yahei";
    font-size: 1.0714rem;
    text-align: left;
    color: #333333;
}


/*提交*/
.submit{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 1rem 0;
    text-align: center;
    font-family: PingFangSC-Regular,"microsoft yahei";
    font-size: 1.1428rem;
    color: #FFFFFF;
    background: #E0E0E0;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.06);
}
.btnActive:active{
    background-color:#1B699B!important;
}