.border-1px(@color) {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid @color;
    transform: scaleY(.5);
  }
}

.border-none(){
  &::after {
    display: none;
  }
}

.bg-image(@url) {
  background-image: url("@{url}@2x.png");
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url("@{url}@3x.png");
  }
}

// 站内色调
@active: rgb(240, 20, 20);
@tabFontColor: rgb(77, 85, 93);
@fontGray: rgb(147, 153, 159);
@fontBlack: rgb(7, 17, 27);
