<!DOCTYPE html>
<html ng-app="myApp">

	<head>
		<meta charset="utf-8">
		<title>每日团队数据</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="../common/reset.css">
		<link rel="stylesheet" href="../common/swiper/swiper.min.css">
		<link rel="stylesheet" href="css/trainingMsgOld.css?v=1.1.74">
		<script src="../common/jquery.min.js"></script>
		<script src="../common/angular.min.js"></script>
		<script src="../common/swiper/swiper.min.js"></script>
		<script src="../common/util.js"></script>
		<script src="https://s95.cnzz.com/z_stat.php?id=1261329276&web_id=1261329276" language="JavaScript"></script>
		<script>
	    	//声明_czc对象:
			var _czc = _czc || [];
			//绑定siteid
			_czc.push(["_setAccount", "1261329276"]);
	    </script>
		<script src="js/trainingMsgOld.js?v=1.1.63"></script>
		<style>
			a[title="站长统计"] {display: none;}
		</style>
	</head>

	<body ng-controller="getMsg">
		<div class="tmtitle">
			<div class="tmtline"></div>
			<div class="tmttitle"></div>
			<!--<div class="tmtmonth"></div>-->
			<div class="tmtline"></div>
		</div>
		<div class="tmsubtitle">&lt;本系列课每日累计学习时长 单位：分钟&gt;</div>
		<!-- 报表 -->
		<div class="chartCtn">
			<!--<div class="average"></div>-->
			<div class="swiper-container1">
				<div class="swiper-wrapper wrapper1">
					<div class="swiper-slide" ng-repeat="bar in bars" index="{{$index}}" on-finish-render-filters="Bar" ng-cloak>
						<div class="barCtn">
							<div class="bar" style="height: {{height[$index]}}%;" ng-class="height[$index]==0?'noheight':''">
								<div ng-class="height[$index] > 80?'high':''" ng-cloak>{{bar.studyTime/60 | formateNum1}}</div>
							</div>
						</div>
						<div class="tmdate">
							<div class="tmweek" ng-cloak>{{bar.date | formateDate1: 'week'}}</div>
							<div class="tmday" ng-cloak>{{bar.date | formateDate1: 'day' | date: 'd'}}</div>
						</div>
					</div>
					<div class="swiper-slide noclick" ng-repeat="nb in nullBar" ng-cloak>
						<div class="barCtn">
							<div class="bar noheight" style="height: 0;">
								<div></div>
							</div>
						</div>
						<div class="tmdate">
							<div class="tmweek"></div>
							<div class="tmday"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-container2">
			<div class="swiper-wrapper wrapper2">
				<div class="swiper-slide msgCard" ng-repeat="card in cards" index="{{$index}}" on-finish-render-filters="Card" ng-cloak>
					<div class="mcdate" ng-cloak>{{card.date | formateDate | date: 'M月d日'}}</div>
					<div class="mcctn">
						<div class="mcitem">
							<div class="mcil">开始学习</div>
							<div class="mcim" ng-cloak>{{card.study_count}}</div>
							<div class="mcir">人</div>
						</div>
						<div class="mcitem">
							<div class="mcil">平均学习时长</div>
							<div class="mcim" ng-cloak>{{card.avg_time/60 | number: 0}}</div>
							<div class="mcir">分钟</div>
						</div>
						<div class="mcitem">
							<div class="mcil">随堂测试</div>
							<div class="mcim" ng-cloak>{{card.ticket_count}}</div>
							<div class="mcir">人</div>
						</div>
						<div class="mcitem">
							<div class="mcil">平均吸收率</div>
							<div class="mcim" ng-cloak>{{card.avg_score | number: 0}}</div>
							<div class="mcir">%</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="height: 5.5rem;"></div>
		<!--<div class="chartBottom"></div>-->
		<!--<div class="dateSelectCtr" style="display: none;">
			<div class="dateSelectCtn swiper-container4">
				<div class="yearList swiper-wrapper">
					<div class="yearItem flex swiper-slide" ng-repeat='date in yearmonth'>
						<div class="yearLeft">
							<div>{{date.year}}</div>
						</div>
						<div class="monthRight flex-1" year='{{date.year}}' ng-class="date.year==year?'curyear':''">
							<div class="mtMonth" ng-repeat='m in date.month' month='{{m}}'>
								<div ng-class="m==month?'curmonth':''">{{m | number}}月</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->
		
		<!-- 听课排名 -->
		<div class="listenCtn" ng-click="toRanking()">
			<div class="lctitle">累计学习数据</div>
			<div class="lcRanking">
				<div class="no{{$index+1}}Icon" ng-repeat="i in topthree | limitTo: 3" style="background: url({{i.avatar}}) no-repeat center;background-size: 100% 100%;" ng-cloak></div>
				<div class="lcright"></div>
			</div>
		</div>
	</body>

</html>