<!DOCTYPE html>
<html ng-app="myApp">

	<head>
		<meta charset="utf-8">
		<title>团队数据</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="../common/reset.css">
		<link rel="stylesheet" href="css/trainingList.css?v=1.0.4">
		<script src="../common/jquery.min.js"></script>
		<script src="../common/CZNative.js"></script>
		<script src="../common/angular.min.js"></script>
		<script src="../common/util.js?v=1.0.1"></script>
		<script src="https://s95.cnzz.com/z_stat.php?id=1261329276&web_id=1261329276" language="JavaScript"></script>
		<script>
			//声明_czc对象:
			var _czc = _czc || [];
			//绑定siteid
			_czc.push(["_setAccount", "1261329276"]);
		</script>
		<script src="js/trainingList.js?v=1.1.8"></script>
		<style>
			a[title="站长统计"] {
				display: none;
			}
		</style>
	</head>

	<body ng-controller="getList">
		<div id="tllist" class="tllist">
			<div class="tlitem" ng-repeat="i in listT" ng-click="toMsg(i.catalog_id, i.company_cultivate_id, i.classSts, i.company_study_end_at, i.name)" ng-cloak>
				<div class="tlibtm">
					<div class="tlists tlists{{i.classSts}}" ng-cloak>{{i.classStsTxt}}</div>
					<div class="tlidate" ng-cloak>{{i.company_study_end_at | limitTo: 10}} 到期</div>
				</div>
				<div class="tlictn">
					<div class="tlicontent">
						<div class="tlititle" ng-cloak>{{i.name}}</div>
						<div class="tliProgress1" ng-cloak>
							平均完课率
							<span class="avg_study">{{i.avg_study * 100 | number: 0}}</span>%</div>
						<i style="margin-top:2.1rem;background:#EBEBEB;height: 1.333333rem;width: 1px; display: inline-block"></i>
						<div class="tliClass" ng-cloak>
							平均吸收率
							<span class="avg_score">{{i.avg_score | number:0}}</span>%</div>
					</div>
				</div>
			</div>
			<!--已过期-->
			<div class="dateTitle" style="width: 100%;text-align: center; margin: 1.5rem auto" ng-if="listF.length > 0">
				<span style="display:inline-block;width: 2.5rem; height: 1px; background-color: #53606E"></span>
				<span style="display: inline-table;font-size: 1rem;color: #53606E;">已过期<br><font style="font-size: 0.5rem;">OVERDUE</font></span>
				<span style="display:inline-block;width: 2.5rem; height: 1px; background-color: #53606E"></span>
			</div>
			<div class="tlitem" ng-repeat="_i in listF" ng-click="toMsg(i.catalog_id, i.company_cultivate_id)" ng-cloak>
				<div class="tlibtm">
					<div class="tlists tlists{{i.classSts}}" ng-cloak>{{i.classStsTxt}}</div>
					<div class="tlidate" ng-cloak><!--{{_i.company_catalog_end_at | limitTo: 10}} 到期-->&nbsp;</div>
				</div>
				<div class="tlictn">
					<div class="tlicontent">
						<div class="tlititle" ng-cloak>{{_i.name}}</div>
						<div class="tliProgress1" ng-cloak>
							平均完课率&nbsp;&nbsp;&nbsp;
							<font style="font-size: 2.333333rem;color: #5C5C5C;font-family: PingFangSC-Regular,'microsoft yahei';">{{_i.avg_study * 100 | number: 0}}</font>&nbsp;&nbsp;&nbsp;%</div>
						<i style="margin-top:2.1rem;background:#EBEBEB;height: 1.333333rem;width: 1px; display: inline-block"></i>
						<div class="tliClass" ng-cloak>
							平均吸收率&nbsp;&nbsp;&nbsp;
							<font style="font-size: 2.333333rem;color: #5C5C5C;font-family: PingFangSC-Regular,'microsoft yahei';">{{_i.avg_score | number: 0}}</font>&nbsp;&nbsp;&nbsp;%</div>
					</div>
				</div>
			</div>
		</div>
		<img ng-if="nolists" src="images/bg_null.png" style="position: absolute; top: 0;right: 0;left: 0;bottom: 0;margin: auto;width: 5.5rem;" />
	</body>

</html>