@charset "utf-8";
.df {display: -webkit-flex;display: flex;box-sizing: border-box;}
.df1 {flex: 1;overflow: hidden;}
.dfac {align-items: center;}/*flex垂直居中*/
.dfae {align-items: flex-end;}

body {background-color: #FFFFFF;font-family: PingFangSC-Regular, "microsoft yahei";}
.tips {
	font-size: 1.166666rem;
	color: #666666;
	line-height: 1.75rem;
	margin-top: 3.166666rem;
}
.tips>a {
	color: #3573B3;
	text-decoration: none;
}
.header {
    padding: 3.125rem 0 3.125rem 11.125rem;
    background-color: #3573B3;
    color: #FFFFFF;
    position: relative;
}
.header::after {
	content: '';
	position: absolute;
	left: 5.958333rem;
	top: 0;
	bottom: 0;
	width: 3.916666rem;
	height: 3.916666rem;
	background-image: url(images/icon_pay.png);
	background-size: 100% 100%;
	margin: auto;
	
}
.h_title{
	font-family: PingFangSC-Medium,"microsoft yahei";
	font-size: 1.583333rem;
	line-height: 1;
	margin-bottom: 0.833333rem;
}
.h_text {
	font-family: PingFangSC-Regular,"microsoft yahei";
	font-size: 1rem;
	line-height: 1;
}

.info_head {
	font-family: PingFangSC-Regular;
	background: #F5F5F5;
	padding: 1.083333rem 0 1.083333rem 1.25rem;
	font-size: 1.166666rem;
	color: #4A4A4A;
	line-height: 1;
}
.shouhuo_info{
	padding: 2.666666rem 1.25rem 0;
	background-color: #FFFFFF;
}
.shName, .shTel{
	font-size: 1.166666rem;
	color: #4A4A4A;
	line-height: 1;
}
.shTel {
	margin: 1rem 0 0.5rem;
}
.shAdd {
	font-size: 1rem;
	color: #B8B8B8;
	margin-bottom: 2.25rem;
	line-height: 1;
}

.bookMsg {
	background-color: #FFFFFF;
	border-top: 1px solid #EBEBEB;
	height: 9.75rem;
}
.bookImg {
	width: 6.75rem;
	height: 6.75rem;
	margin-right: 1.333333rem;
}
.bookName {
	font-family: PingFangSC-Medium, "microsoft yahei";
	font-size: 1.333333rem;
	line-height: 1;
	color: #4A4A4A;
}
.bookSub {
	font-size: 1rem;
	color: #666666;
	line-height: 1.333333rem;
	margin-top: 0.833333rem;
	margin-left: 0.5rem;
}
.bookCtn {
	margin-top: .5rem;
	margin-left: .5rem;
}
.bookPrice {
	font-family: PingFangSC-Semibold, "microsoft yahei";
	font-size: 1.5rem;
	color: #FF8B00;
	line-height: 1;
}
.bookTip {
	margin-left: 1.333333rem;
	font-size: 1.166666rem;
	color: #666666;
}

.priceMsg {
	border: 1px solid #EBEBEB;
	border-width: 1px 0;
	height: 4.166666rem;
	font-size: 1.166666rem;
	color: #526061;
}
.contact {
	font-size: 1.166666rem;
	color: #666666;
	line-height: 1.75rem;
}
