@charset "utf-8";
/* CSS Document */
.wmlist{
    padding-top: 4px!important;
    padding-bottom:3px!important;
}
.blocklistbox{
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
}
.blocklistbox p{
    width: 100px;
}
.indexlist .blockbox{
    height: 74px;
    border-bottom: 1px solid #eee;
    background: #ffffff;
}

.indexlist>.blockbox>div:nth-child(2){
    border-left: 1px solid #eee;
}
.indexlist>.blockbox>div{
    width: 50%;
}
.indexlist .blockbox:last-child{
     background: #f6f6f6;
     border-bottom: none!important;
}

.warpico{
    height: 37px;
    padding:0px 10px 0px 56px;
   
}
.warpico p{
    line-height: 16px;
    margin-bottom: 3px;

}
.warpico p:nth-child(1){
    padding-top: 2px;
}

.bkgdSz49{
    background-size:49px!important; 
}

/*ico图标小东添加*/

.jwm{
    background: url(../images/icon.png) no-repeat 6px -944px
}

.dwz{
    background: url(../images/icon.png) no-repeat 6px -869px
}
.dndc{
    background: url(../images/icon.png) no-repeat 6px -795px
}

.pd{
    background: url(../images/icon.png) no-repeat 6px -720px
}

.tg{
    background: url(../images/icon.png) no-repeat 6px -645px
}

.wdms{
    background: url(../images/icon.png) no-repeat 6px -570px
}

.mslb{
    background: url(../images/icon.png) no-repeat 6px -495px
}