@charset "utf-8";
/* CSS Document */
body{
    padding-top: 95px;
}
a.aico{
    background:url(../images/ico.png) 0px -867px no-repeat;
    background-size: 125px;
}
.wmlist{
    padding-top: 4px!important;
    padding-bottom:3px!important;
}
.blocklistbox{
    height: auto;
}
.searchbar{
    padding: 7px 10px
}
.tapco,.tapco a{
    color:#333;
}