.banner{
	padding-left: 2rem;
    padding-top: 1.72rem;
    height: 8rem;
    width: auto;
    background: #3573B3;
    box-sizing: border-box;
    line-height: 1;
}
.banner > li:nth-child(1){
	font-size: 2.916666rem;
	color: #FFFFFF;
	text-shadow: 0 2px 4px rgba(0,0,0,0.25);
}
.banner > li:nth-child(2){
	opacity: 0.8;
	font-size: 1rem;
	color: #FFFFFF;
    margin-top: 1rem;
    line-height: 0;	
}

.lists{
    border-radius: 0; 
}
.lsMiddle{
	width: 19.75rem;
}
.percen{
	float: right;
    /*color: #3573B3;*/
    font-size: 1.416666rem;
    max-width: 6rem;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.percen i{
	font-family: .PingFangSC-Medium;
	font-size: 0.8333rem;
    color: #3573B3;
    margin-left: .2rem;
}
