<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title> </title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../common/reset.css">
    <link rel="stylesheet" href="css/personal.css?v=1.0.2">
    <script src="../common/jquery.min.js"></script>
    <script src="../common/angular.min.js"></script>
    <script src="../common/util.js"></script>
    <script src="js/personal.js?v=0.0.22"></script>
</head>
<body ng-controller="getList">
	<ul class="banner">
		<li>
			<!--<img class="avatar" ng-src="{{ data.employee.avatar }}" ng-cloak/>-->
			<span class="avatar" style="background-image: url({{ data.employee.avatar }});background-size: 100% 100%;background-color: #CCCCCC;" ng-cloak></span>
			<!--<img class="arrow_manage" src="images/arrow_manage_person.png"  ng-cloak/>-->
		</li>
		<li>
			<div class="name" ng-cloak>{{ data.employee.name }}</div>
			<div class="catalog_name" ng-cloak>{{ data.catalog.name }}</div>
			<div class="cultivate_name" ng-cloak>{{ data.companyCultivate.cultivate_name }}</div>
		</li>
	</ul>
	<div ng-repeat="list in lists track by $index" style="background-color: #FFFFFF;">
		<div id="list{{ $index }}" class="listDate" ng-cloak>{{ list.time }}</div>
		<div class="details">
			<ul ng-repeat="i in list.data" class="lsEach" ng-cloak>
				<li class="lsTime" ng-cloak>{{ i.study_time }}</li>
				<li class="lsCourse_name" ng-cloak>{{ i.course_name }}</li>
				<!--<li>{{ i.course_name }}</li>-->
			</ul>
		</div>
	</div>
	<img ng-if="nolists" src="images/bg_null.png" style="position: absolute; top: 0;right: 0;left: 0;bottom: 0;margin: auto;width: 5.5rem;" />
</body>
</html>
