<!DOCTYPE html>
<html ng-app="myApp">

	<head>
		<meta charset="utf-8">
		<title>每日团队数据</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="../common/reset.css">
		<link rel="stylesheet" href="../common/swiper/swiper.min.css">
		<link rel="stylesheet" href="css/trainingMsg.css?t=1.0.3">
		<script src="../common/jquery.min.js"></script>
		<script src="../common/angular.min.js"></script>
		<script src="../common/swiper/swiper.min.js"></script>
		<script src="../common/util.js"></script>
		<script src="https://s95.cnzz.com/z_stat.php?id=1261329276&web_id=1261329276" language="JavaScript"></script>
		<script>
	    	//声明_czc对象:
			var _czc = _czc || [];
			//绑定siteid
			_czc.push(["_setAccount", "1261329276"]);
	    </script>
		<script src="js/trainingMsg.js?t=1.1.3"></script>
		<style>
			a[title="站长统计"] {display: none;}
		</style>
	</head>

	<body ng-controller="getMsg">
		<div class="swiper-container2">
			<div class="swiper-wrapper wrapper2">
				<div class="swiper-slide msgCard" ng-repeat="card in cards" index="{{$index}}" on-finish-render-filters="Card" ng-cloak>
					<div class="mcdate" ng-cloak>{{card.date | formateDate}}</div>
					<div class="mcctn">
						<div class="mcitem">
							<div class="mcil">今日学习</div>
							<div class="mcim" ng-cloak>{{card.study_count}}</div>
							<div class="mcir">人</div>
						</div>
						<div class="mcitem">
							<div class="mcil">平均学习时长</div>
							<div class="mcim" ng-cloak>{{card.avg_time/60 | number: 0}}</div>
							<div class="mcir">分钟</div>
						</div>
						<div class="mcitem">
							<div class="mcil">累计学习时长</div>
							<div class="mcim" ng-cloak>{{(card.avg_time / 60 | number: 0) * card.study_count}}</div>
							<div class="mcir">分钟</div>
						</div>
						<div class="mcitem">
							<div class="mcil">随堂测试</div>
							<div class="mcim" ng-cloak>{{card.ticket_count}}</div>
							<div class="mcir">人</div>
						</div>
						<div class="mcitem">
							<div class="mcil">平均吸收率</div>
							<div class="mcim" ng-cloak>{{card.avg_score | number: 0}}</div>
							<div class="mcir">%</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 听课排名 -->
		<div class="listenCtn" ng-click="toRanking()">
			<div class="lctitle">累计学习数据</div>
			<div class="lcRanking">
				<div class="no{{$index+1}}Icon" ng-repeat="i in topthree | limitTo: 3" style="background: url({{i.avatar}}) no-repeat center;background-size: 100% 100%;" ng-cloak></div>
				<div class="lcright"></div>
			</div>
		</div>
	</body>

</html>