<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<title>培训情况</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="../common/reset.css">
		<link rel="stylesheet" href="css/trainingList.css?v=1.0.0">
		<script src="../common/jquery.min.js"></script>
		<script src="../common/angular.min.js"></script>
		<script src="../common/util.js"></script>
		<script src="https://s95.cnzz.com/z_stat.php?id=1261329276&web_id=1261329276" language="JavaScript"></script>
		<script>
	    	//声明_czc对象:
			var _czc = _czc || [];
			//绑定siteid
			_czc.push(["_setAccount", "1261329276"]);
	    </script>
		<script src="js/trainingList.js?v=1.0.4"></script>
		<style>
			a[title="站长统计"] {display: none;}
		</style>
	</head>
	<body ng-controller="getList">
		<div id="tllist" class="tllist">
			<div class="tlitem" ng-repeat="i in list" ng-click="toMsg(i.catalog_id, i.company_cultivate_id)" ng-cloak>
				<div class="tlictn flex">
					<div class="tlicover" ng-class="(i.type=='0'||i.type=='1')?'audio':((i.type=='2'||i.type=='3')?'video':'')" style="background: url({{i.cover}});background-size: 100% 100%;"></div>
					<div class="tlicontent flex-1">
						<div class="tlititle" ng-cloak>{{i.name}}</div>
						<div class="tliProgress"><div style="width: {{i.percent}};"></div></div>
						<div class="tliProgress1" ng-cloak>已完成{{i.percent}}</div>
						<div class="tliClass" ng-cloak>更新至{{i.course_count}}/{{i.total}}节</div>
					</div>
				</div>
				<div class="tlibtm flex">
					<!--<div class="tlidate flex-1" ng-cloak>毕业时间：{{i.company_catalog_end_at | formateDate | date: 'yyyy-MM-dd'}}</div>-->
					<div class="tlidate flex-1" ng-cloak>毕业时间：{{i.company_catalog_end_at | limitTo: 10}}</div>
					<!--<div ng-if="i.company_cultivate_status=='1'" class="tlists1" ng-cloak>进行中</div>
					<div ng-if="i.company_cultivate_status=='2'" class="tlists2" ng-cloak>已完成</div>
					<div ng-if="i.company_cultivate_status=='2'" class="tlists3" ng-cloak>已过期</div>-->
					<div class="tlists{{i.classSts}}" ng-cloak>{{i.classStsTxt}}</div>
				</div>
			</div>
		</div>
	</body>
</html>