@charset "utf-8";
html, body{
	width: 100%;
	height: 100%;
}
body{
	background: url(../images/bg_manage_chart.png) no-repeat center top;
	background-size: 100% 100%;
	background-attachment: fixed;
	font-family: PingFangSC-Regular,"microsoft yahei";
	overflow-x: hidden;
}
.flex{
	/*display: -webkit-flex;
	display: flex;*/
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
}
.flex-1{
	/*flex: 1;*/
	-webkit-box-flex: 1.0;
	-moz-box-flex: 1.0;
	-ms-box-flex: 1.0;
	-o-box-flex: 1.0;
	box-flex: 1.0;
}
.tmtitle{
	font-family: PingFangSC-Medium;,"microsoft yahei";
	font-size: 1.333333rem;
	color: #FFFFFF;
	text-align: center;
	padding-top: 0.333333rem;
	width: 10rem;
	margin: 0.666666rem auto 0;
}
.tmtline{
	width: 1.833333rem;
	height: 1px;
	border-top: 1px solid rgba(236, 236, 236, .4);
	border-bottom: 1px solid rgba(236, 236, 236, .4);
	display: inline-block;
	vertical-align: middle;
}
.tmttitle{
	/*margin-left: 0.25rem;*/
	display: inline-block;
}
.tmtmonth{
	display: inline-block;
	position: relative;
	width: 0.666666rem;
	height: 0.5rem;
	margin-left: -0.166666rem;
	/*margin-right: 0.25rem;*/
}
.tmtmonth:before {
	content: '';
    position: absolute;
    left: 0;
    top: 0;
	width: 0;
    height: 0;
    border: 0.35rem solid rgba(0, 0, 0, 0);
    border-bottom-width: 0;
    border-top: 0.35rem solid rgba(255, 255, 255, .6);
    /*border-radius: 3px;*/
}
.tmsubtitle{
	margin-top: 0.166666rem;
	text-align: center;
	color: rgba(255, 255, 255, .41);
	font-size: 0.75rem;
}
/*图表*/
.chartCtn{
	margin: 1.5rem 1.875rem 2.333333rem;
	position: relative;
}
.swiper-container1 {overflow: hidden;}
/*.average {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	border-bottom: 1px dashed #ADC8E4;
	display: none;
	height: 14.583333rem;
	transition: height 1s linear;
}
.average:before {
	content: '';
    position: absolute;
    left: -1.25rem;
    bottom: -0.333333rem;
	width: 0;
    height: 0;
    border: 0.333333rem solid rgba(0, 0, 0, 0);
    border-right-width: 0;
    border-left: 0.666666rem solid #EAF5FF;
}
.average:after{
	content: '平均值';
    position: absolute;
    left: -1.8rem;
    bottom: -1.7rem;
	font-size: 0.666666rem;
	color: #FFFFFF;
	line-height: 0.833333rem;
	text-shadow: 0 2px 4px #3573B3;
	z-index: 99;
}*/
/*.swiper-slide{
	width: 2.5rem;
}*/
.barCtn{
	/*width: 100%;*/
	height: 13.166666rem;
	/*opacity: 0.7;*/
	border: 1px solid #A9CBED;
	/*border: 1px solid rgba(169, 203, 237, .7);*/
	border-radius: 2px;
	position: relative;
}
/*.curbar .barCtn{
	border-color: #FFD200;
}*/
.bar{
	position: absolute;
	left: -1px;
	bottom: -1px;
	width: 100%;
	height: 0;
	background-color: #EAF4FF;
	border: 1px solid #EAF4FF;
	border-radius: 2px;
	transition: height 1s linear; 
}
.bar.noheight{
	left: 0;
	bottom: 0;
	border: 0;
}
.curbar .bar{
	border-color: #FFD200;
	background-color: #FFD200;
}
.curbar .bar>div{
	color: #FFD200;
}
.curbar .bar>div.high{
	color: #FFFFFF;
}
.bar>div{
	font-size: 0.833333rem;
	text-align: center;
	color: #BCD2E7;
	margin-top: -1.6rem;
}
.bar>div.high{
	color: #3573B3;
	margin-top: 0.5rem;
}
.tmdate{
	margin-top: 1rem;
	text-align: center;
	font-size: 0.916666rem;
	color: #E9F4FF;
	text-shadow: 0 2px 4px #3573B3;
}
.tmweek{
	margin-bottom: 0.333333rem;
}
.curbar .tmdate{
	color: #FFD200;
}
/*听课排名*/
.listenCtn{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5.333333rem;
	line-height: 5.333333rem;
	/*padding: 0 1.25rem 0 1.666666rem;*/
	display: -moz-box;
	display: -webkit-box;
	display: box;
	background-color: #FFFFFF;
	/*background-image: -webkit-linear-gradient(-180deg, #EFEFEF 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(-180deg, #EFEFEF 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(-180deg, #EFEFEF 0%, #FFFFFF 100%);
	background-image: linear-gradient(-180deg, #EFEFEF 0%, #FFFFFF 100%);*/
	/*background-size: 100% 100%;*/
	z-index: 99;
}
.lctitle{
	margin-left: 1.416666rem;
	background: url(../images/icon_manage_chart_top.png) no-repeat left center;
	background-size: 2rem;
	padding-left: 3rem;
	font-size: 1.25rem;
	color: #5C5C5C;
	letter-spacing: 0;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
}
.lcRanking{
	padding-left: 1.0625rem;
	margin-right: 1.416666rem;
	padding-top: 0.916666rem;
}
.no1Icon, .no2Icon, .no3Icon{
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	margin-left: -1.0625rem;
	position: relative;
	display: inline-block;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
	-ms-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
	-o-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}
.no1Icon{
	z-index: 3;
	/*width: 3.333333rem;
	height: 3.333333rem;
	border: 2px solid #FFCC00;*/
	/*background: url(../1.jpg) no-repeat center center;
	background-size: 100% 100%;*/
}
.no2Icon{
	z-index: 2;
	/*background: url(../1.jpg) no-repeat center center;
	background-size: 100% 100%;*/
}
.no3Icon{
	z-index: 1;
	/*background: url(../1.jpg) no-repeat center center;
	background-size: 100% 100%;*/
}
/*.no1Icon:before{
	content: ' ';
	position: absolute;
	top: -1.083333rem;
	left: 0;
	width: 100%;
	height: 1rem;
	background: url(../images/icon_manage_chart_no1.png) no-repeat center center;
	background-size: 1.666666rem 1rem;
}*/
.lcright{
	display: inline-block;
	width: 1.333333rem;
	height: 3.5rem;
	background: url(../images/arrow_black_01.png) no-repeat right center;
	background-size: 100%;
	margin-left: 0.5rem;
}
/*听课排名卡片*/
.swiper-container2{
	/*margin: 5.166666rem 0 0 1.666666rem;*/
	/*margin: 1.833333rem 1.666666rem 0 0;*/
	/*margin: 2.75rem 0 0 0;*/
	margin: 1.833333rem 0 0 0;
	overflow: hidden;
}
.msgCard{
	position: relative;
	/*width: 13.333333rem;*/
	width: 16.666666rem;
	/*height: 19.375rem;*/
	/*background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(255,255,255,0.76) 100%);*/
	border-radius: 12px;
	margin-left: 1rem;
	margin-bottom: 4px;
	top: 2.541666rem;
	top: 1rem;
	/*top: 2.375rem;*/
	padding-bottom: 0.041666rem;
	/*padding-bottom: 4rem;*/
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.12);
	-ms-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.12);
	-o-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.12);
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.12);
}
.hide{
	display: none;
}
.curcard.msgCard{
	top: 0;
	/*width: 16.666666rem;*/
	padding-bottom: 1.041666rem;
}
.mcdate{
	width: 7.333333rem;
	height: 1.666666rem;
	line-height: 1.5rem;
	text-align: center;
	background: url(../images/bg_manage_chart_date_b.png) no-repeat center center;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	font-family: PingFangSC-Medium,"microsoft yahei";
	font-size: 0.833333rem;
	color: #FFFFFF;
}
.curcard .mcdate{
	font-size: 0.916666rem;
	width: 7.666666rem;
	height: 2rem;
	line-height: 1.666666rem;
	background-image: url(../images/bg_manage_chart_date.png);
}
.mcctn{
	margin: 2.166666rem 1.666666rem 0;
}
.mcitem{
	border-bottom: 1px solid rgba(220,231,248,0.8);
	padding: 0.416666rem 0 0.75rem;
	/*display: -webkit-flex;
	display: flex;
	align-items: flex-end;*/
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-align: end;
	-moz-box-align: end;
}
.mcitem:last-child{
	border: 0;
}
.mcil{
	font-size: 1rem;
	color: #666666;
	text-align: right;
	/*width: 7rem;*/
	width: 6.5rem;
}
.mcim{
	/*flex: 1;*/
	-webkit-box-flex: 1.0;
	-moz-box-flex: 1.0;
	-ms-box-flex: 1.0;
	-o-box-flex: 1.0;
	box-flex: 1.0;
	text-align: center;
	font-size: 1.416666rem;
	color: #333333;
}
.curcard .mcim{
	color: #F7A90C;
	font-weight: bold;
}
.mcir{
	font-size: 0.833333rem;
	color: #5C5C5C;
	width: 2.2rem;
    text-align: center;
}

/*.chartBottom{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.375rem;
	background: url(../images/mask_manage_chart_bottom.png) no-repeat center bottom;
	background-size: 100% 100%;
	z-index: 99;
}*/
/**
 * 弹窗
 */
.dateSelectCtr{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,.4);
}
.dateSelectCtn{
	width: 21.666666rem;
	height: 18rem;
	background-color: #FFFFFF;
	border-radius: 6px;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 100;
	overflow: hidden;
}
.dateSelectCtnt, .dateSelectCtnb, .dateSelectCtn:before, .dateSelectCtn:after{
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	background-image: linear-gradient(-180deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
	height: 3.333333rem;
}
.dateSelectCtnt, .dateSelectCtn:before{
	top: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.dateSelectCtnb, .dateSelectCtn:after{
	bottom: 0;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.yearList{
	font-family: PingFangSC-Medium,"microsoft yahei";
	font-size: 1.166666rem;
	text-align: center;
	/*margin-top: 3rem;*/
	width: 100%;
	height: 100%;
	/*overflow: auto;*/
}
.yearItem:first-child{
	margin-top: 3rem;
}
.yearLeft{
	color: #65AAF0;
	width: 8.333333rem;
}
.yearLeft>div{
	
}
.monthRight{
	color: #333333;
}
.mtMonth{
	position: relative;
	border-left: 2px solid #DCE7F8;
	height: 3.5rem;
	line-height: 1;
}
.mtMonth:last-child{
	border-left-color: rgba(0, 0, 0, 0);
}
.mtMonth:before{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	top: 0;
	left: -6px;
	background-color: #65AAF0;
	border-radius: 50%;
}
.mtMonth>div{
	width: 4.229166rem;
	height: 2.375rem;
	line-height: 2.375rem;
	margin: auto;
	position: relative;
	top: -0.979166rem;
}
.curyear .curmonth{
	background: url(../images/bg_manage_chart_month.png) no-repeat center center;
	background-size: 100% 100%;
	color: #3573B3;
}
