@charset "utf-8";
body{
	min-height: 100%;
	background-color: #F5F5F5;
}
.flex{
	display: -webkit-flex;
	display: flex;
}
.flex-1{
	flex: 1;
	overflow: hidden;
}

.tllist{
	padding: 0 1rem 2.083333rem;
}
.tlitem{
	margin-top: 1.666666rem;
	width: 100%;
	background-color: #FFFFFF;
	padding: 0 1.333333rem;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.03);
	border-radius: 0.333333rem;
}
.tlictn{
	
}
.tlicover{
	width: 9.583333rem;
	height: 6.25rem;
	margin: 0.666666rem;
	position: relative;
}
.tlicover:after{
	content: '';
	position: absolute;
	right: 0.416666rem;
	bottom: 0.416666rem;
	width: 1.666666rem;
	height: 1.666666rem;
}
.audio:after{
	background: url(../images/icon_earphonetag.png);
	background-size: 100% 100%;
}
.video:after{
	background: url(../images/icon_class_videostag.png);
	background-size: 100% 100%;
}
.tlicontent{
	margin: 1.463333rem 0.833333rem 0 0.166666rem;
}
.tlititle{
	font-family: PingFangSC-Medium,"microsoft yahei";
	font-size: 1.25rem;
	line-height: 1;
	padding: 1px 0;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tliProgress{
	height: 0.333333rem;
	border-radius: 1.791666rem;
	background-color: #F5F5F5;
	margin-top: 0.833333rem;
}
.tliProgress>div{
	height: 100%;
	border-radius: 1.791666rem;
	background-color: #3573B3;
	width: 0;
	transition: width 1s linear;
}
.tliProgress1{
	float: left;
	width: 49%;
	font-size: 0.833333rem;
	line-height: 1;
	color: #999999;
	margin: 1.866666rem 0 2.083333rem;
}
.tliClass{
	float: right;
	text-align: right;
	width: 49%;
	font-size: 0.833333rem;
	line-height: 1;
	color: #999999;
	margin: 1.666666rem 0 2.083333rem;
}
.avg_study,.avg_score{
	display: inline-block;
	width: 5rem;
	text-align: center;
	font-size: 2.333333rem;
	color: #5C5C5C;
	font-family: PingFangSC-Regular,'microsoft yahei';
}
.tlibtm{
	border-bottom: 1px solid #EBEBEB;
	padding: 0.833333rem 0;
	overflow: hidden;
}
.tlidate{
	color: #B8B8B8;
	float: right;
	font-size: 0.916666rem;
	padding-right: 1rem;
	position: relative;
	margin-top:0.5rem;
	line-height: 1;
}
.tlidate:after{
	position: absolute;
	content: "";
	width: 1rem;
	height: 100%;
	background: url(../images/arrow_gray_01_s.png) no-repeat right center;
	background-size: contain;
}
.tlists{
	/*padding: 0.041666rem 0.25rem;*/
	/*padding: 2px 0.25rem;*/
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: #FFFFFF;
	border-radius: 0.125rem;
	font-family: PingFangSC-Medium,"microsoft yahei";
	font-size: 0.833333rem;
	float: left;
}
/**
 * 已完成
 * 进行中
 * 过期后的未完成
 * 过期后的已完成
 * */
.tlists1{
	background: #7ED321;
}
.tlists2{
	background: #F43E3E;
}

.tlists1_{
	background: #666;
}
.tlists2_{
	background: #F43E3E;
}
