@charset "utf-8";
html, body{
	width: 100%;
	height: 100%;
}
body{
	background: url(../images/bg_manage_chart.png) no-repeat center top;
	background-size: 100% 100%;
	background-attachment: fixed;
	font-family: PingFangSC-Regular,"microsoft yahei";
	overflow-x: hidden;
}
.swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right{
	border-radius: 12px;
	background-image: -webkit-linear-gradient(to left,rgba(0,0,0,.2),rgba(0,0,0,0));
	background-image: -moz-linear-gradient(to left,rgba(0,0,0,.2),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(to left,rgba(0,0,0,.2),rgba(0,0,0,0));
	background-image: -o-linear-gradient(to left,rgba(0,0,0,.2),rgba(0,0,0,0));
	background-image: linear-gradient(to left,rgba(0,0,0,.2),rgba(0,0,0,0));
}
.flex{
	/*display: -webkit-flex;
	display: flex;*/
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
}
.flex-1{
	/*flex: 1;*/
	-webkit-box-flex: 1.0;
	-moz-box-flex: 1.0;
	-ms-box-flex: 1.0;
	-o-box-flex: 1.0;
	box-flex: 1.0;
}
/*听课排名*/
.listenCtn{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5.333333rem;
	display: -moz-box;
	display: -webkit-box;
	display: box;
	-moz-box-align: center;
	-webkit-box-align: center;
	background-color: #FFFFFF;
	z-index: 99;
}
.lctitle{
	margin-left: 1.416666rem;
	background: url(../images/icon_manage_chart_top.png) no-repeat left center;
	background-size: 2rem;
	padding-left: 3rem;
	font-size: 1.25rem;
	color: #5C5C5C;
	letter-spacing: 0;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
}
.lcRanking{
	padding-left: 1.0625rem;
	margin-right: 1.416666rem;
}
.no1Icon, .no2Icon, .no3Icon{
	width: 3.166666rem;
	height: 3.166666rem;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	margin-left: -1.0625rem;
	position: relative;
	display: inline-block;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
	-ms-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
	-o-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}
.no1Icon{
	z-index: 3;
}
.no2Icon{
	z-index: 2;
}
.no3Icon{
	z-index: 1;
}
.lcright{
	display: inline-block;
	width: 1.333333rem;
	height: 3.5rem;
	background: url(../images/arrow_black_01.png) no-repeat right center;
	background-size: 100%;
	/*margin-left: 0.5rem;*/
}
/*听课排名卡片*/
.swiper-container2{
	overflow: hidden;
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding-bottom: 2.083333rem;
	margin-top: -3.5rem;
}
.msgCard{
	position: relative;
	top: 0;
	padding-bottom: 4rem;
	/*width: 24.166666rem;*/
	width: 23.333333rem;
	border-radius: 12px;
	top: 2.083333rem;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.12);
	-ms-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.12);
	-o-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.12);
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.12);
}
.hide{
	display: none;
}
.mcdate{
	width: 10.833333rem;
	height: 2.5rem;
	line-height: 2.3rem;
	text-align: center;
	background: url(../images/bg_manage_chart_date.png) no-repeat center center;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	font-family: PingFangSC-Medium,"microsoft yahei";
	font-size: 1.25rem;
	color: #FFFFFF;
}
.mcctn{
	/*margin: 2.166666rem 3.75rem 0;*/
	margin: 2.5rem 3.333333rem 0;
	margin-top: 4.333333rem;
}
.mcitem{
	border-bottom: 1px solid rgba(220,231,248,0.8);
	padding: 1.25rem 0 1.25rem;
	/*display: -webkit-flex;
	display: flex;
	align-items: flex-end;*/
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-align: end;
	-moz-box-align: end;
}
.mcil{
	font-size: 1.083333rem;
	color: #5C5C5C;
	font-family: PingFangSC-Medium,"microsoft yahei";
	text-align: right;
	width: 6.8rem;
}
.mcim{
	/*flex: 1;*/
	-webkit-box-flex: 1.0;
	-moz-box-flex: 1.0;
	-ms-box-flex: 1.0;
	-o-box-flex: 1.0;
	box-flex: 1.0;
	text-align: center;
	font-size: 1.416666rem;
	color: #333333;
}
.swiper-slide-active .mcim{
	color: #F7A90C;
	font-weight: bold;
}
.mcir{
	font-size: 0.916666rem;
	color: #5C5C5C;
	width: 2.5rem;
    text-align: center;
}
