@charset "utf-8";

body{
	font-family: PingFangSC-Regular,"microsoft yahei";
}
.toper{
	position: relative;
    height: 6.5rem;
    line-height: 6.5rem;
    background-color: #3573B3;
    padding: 0 1rem;
    color: #FFFFFF;
    font-size: 1.833333rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.toper .bg {
    width: auto;
    height: 5.5rem;
    position: absolute;
    right: 1rem;
    bottom: 0;
}
.content{
	margin-top: 1rem;
	background-color: #FFFFFF;
	text-align: center;
}
.avatar{
	width: 6.5rem;
	height: 6.5rem;
	padding: 1px;
	border: 2px solid rgba(0, 0, 0, .2);
	border-radius: 50%;
	margin: 1.083333rem 0 0.833333rem;
	
}
.name{
	color: #000000;
	font-size: 1.333333rem;
}
.ctn{
	height: 2.166666rem;
	line-height: 2.166666rem;
	color: #000000;
	font-size: 1.5rem;
	margin: 2.5rem 0 3rem;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ctn>img{
	width: auto;
	height: 1.5rem;
}
.money{
	position: relative;
	display: inline-block;
	padding: 0 2.5rem 0 6.666666rem;
	height: 6.25rem;
	line-height: 6.25rem;
	background: url(images/qian.png) no-repeat center center;
	background-size: 100% 100%;
	font-size: 3rem;
	color: #F7A90C;
}
.money:before{
	position: absolute;
	top: 1.625rem;
	left: 2.333333rem;
	width: 3rem;
	height: 3rem;
	content: '';
	background: url(images/yuan.png) no-repeat center;
	background-size: 100% 100%;
}
.classctn{
	margin-top: 1.333333rem;
}
.cctitle{
	color: #BFCEE3;
	font-size: 1rem
}
.ccIcon{
	margin: 0 auto 0;
	width: 2rem;
	height: 2rem;
	background-image: url(images/icon1.png);
	background-size: 100% 100%;
}
.ccIcon.ccUp{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.classList{
	margin: 0.5rem 3.333333rem;
	display: none;
}
.classItem{
	background-color: #F5F5F5;
	padding: 0.833333rem 1.666666rem;
	font-size: 1.083333rem;
	display: -webkit-flex;
	display: flex;
	margin-bottom: 1px;
}
.classItem:first-child{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.classItem:last-child{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.className{
	flex: 1;
	margin-right: 0.833333rem;
	align-items: center;
}
.classPrice{
	color: #3573B3;
}
.classSts{
	padding: 3.5rem;
	text-align: center;
}
.lessMoney{
	display: none;
	font-size: 0.833333rem;
	color: #B0B0B0;
}
.moreMoney{
	display: none;
	font-size: 1.333333rem;
	color: #F7A90C;
}
.cbottom{
	position: fixed;
	left: 0;
	bottom: 0;
    width: 100%;
    height: 4.166666rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: #FFFFFF;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    z-index: 99999;
    cursor: pointer;
    border-top: 1px solid #EBEBEB;
	display: none;
}
.cbottom>div>div{
	padding-left: 2.5rem;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 1.5rem 1.5rem;
}
.cbottom>div{
	margin: .5rem 1.5rem;
	height: 3.166666rem;
	line-height: 3.166666rem;
	border-radius: 4px;
    background-color: #F7A90C;
}
#goOnBuy>div>div{
	background-image: url(images/add_class.png);
}
#getGiftClass>div>div{
	background-image: url(images/accept_email.png);
}