html,body{
    /*font-family: PingFangSC-Regular,"microsoft yahei";*/
    font-family: PingFangSC-Medium,"microsoft yahei";
}
.inputSts {
	position: relative;
	float: left;
	overflow: hidden;
}
i.icon-ok,i.icon-exclamation-sign {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: .5rem;
}
.form{
    margin: auto;
    max-width: 31.25rem;
    padding-bottom: 4.16rem;
}
.form .title{
    font-family: PingFangSC-Medium,"microsoft yahei";
    width: 100%;
    /*height: 6rem;*/
    line-height: 2.16rem;
    padding: 1.5rem 1.58rem;
    font-size: 1.33rem;
    color: #4A4A4A;
    background-color: #ffffff;
    box-sizing: border-box;
}
.item{
    float: left;
    display: inline-block;
    width: 5rem;
    height:auto;
}
.userinfoBg{
    margin-top: 0.85rem;
    width: 100%;
    height: auto;
    padding: 0.33rem 0 1.08rem 1.66rem;
    overflow: hidden;
    background-color: #ffffff;
    box-sizing: border-box;
}
.userinfoBg .QRtitle{
    margin-top: 0;
    width: 100%;
    height: 4rem;
    line-height: 4.16rem;
    text-align: center;
    font-family: PingFangSC-Medium,'microsoft yahei';
    font-size: 1.16rem;
    /*color: #FF8B00;*/
    border-bottom: 0.5px solid #ebebeb;
}
.userinfoBg .QRtitle2{
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 1.1rem;
    font-family: PingFangSC-Regular,'microsoft yahei';
}
.userinfoBg #newQrcode{
    margin-top: -0.2rem;
    margin-bottom: -1rem;
    text-align: center;
}
.userinfoBg #newQrcode img{
    width: 13.66rem;
}
.userinfoBg .reminder{
    position: relative;
    z-index: 1;
    margin-top: 0;
    text-align: center;
    color: #333333;
    font-size: 1.1rem;
    font-family: PingFangSC-Regular,'microsoft yahei';
}
.nickname,
.userCompany{
    margin-top: 0.83rem!important;
}
#receipt{
    height: 2.5rem;
}
.userinfoBg li{
    margin-top: 1.5rem;
    width: auto;
    /*height: 4rem;*/
    line-height: 3.6rem;
    font-size: 1.16rem;
    color: #4A4A4A;
    overflow: hidden;
}
.userinfoBg li input{
    float: left;
    width: 20.66rem;
    height: 3.4rem;
    outline: none;
    padding: 0 1.83rem 0 0.83rem;
    font-size: 1.16rem;
    background-color: #F4F4F4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: none;
    border-radius: 4px;
    -webkit-appearance:textfield;
}
.userinfoBg .remind{
    font-size: 1rem;
    margin-top: 0!important;
    color: #999999;
}
.right{
    margin-left: 1.66rem;
    float: left;
}
.userinfoBg .select i{
    margin-right: 2.5rem;
}
.userinfoBg .select i:before{
    font-size: 1.33rem;
    padding-right: 0.83rem;
    color: #EBEBEB
}
.blue:before{
    color: #3573B3!important;
}

.cause .option{
    margin-left: 1.33rem;
    display: inline-block;
    width: 5.83rem;
    height: 2.16rem;
    text-align: center;
    line-height: 2.16rem;
    font-size: 1rem;
    border: 1px solid #B8B8B8;
    color: #B8B8B8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.telephone{
    font-family: PingFangSC-Regular,'microsoft yahei';
    width: 100%;
    height: 7rem;
    text-align: center;
    line-height: 7.5rem;
    font-size: 1.16rem;
    color: #5c5c5c;
}
#submit{
    z-index: 99;
    width:100%;
    height: 4.16rem;
    font-size: 1.33rem;
    text-align: center;
    line-height: 4.16rem;
    color: #ffffff;
    background-color: #3573B3;
}
#showPayDiv {
    width: 100%;
    height: 4.166666rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: #FFFFFF;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    z-index: 99999;
    cursor: pointer;
    border-top: 1px solid #EBEBEB;
}
#showPayDiv>div{
	margin: .5rem 1.5rem;
	height: 3.166666rem;
	line-height: 3.166666rem;
	border-radius: 4px;
    background-color: #F7A90C;
}

.cause .selectBlue{
    margin-left: 1.33rem;
    display: inline-block;
    width: 5.83rem;
    height: 2.16rem;
    text-align: center;
    line-height: 2.16rem;
    font-size: 1rem;
    border: 1px solid #3573B3;
    color: #3573B3;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


/* 支付按钮 */
.focus{
    z-index: 99;
    width:100%;
    height: 5rem;
    font-size: 1.6rem;
    text-align: center;
    line-height: 5rem;
    color: #ffffff;
    background-color: #ff7373;
}
.focus:hover{
    background-color: #fa6969;
}
.focus:active{
    background-color: #fa6969;
}
