@charset "utf-8";

body{
	font-family: PingFangSC-Regular,"microsoft yahei"!important;
	background-color: #F5F5F5!important;
	margin: 0!important;
	padding: 0!important;
}
a{
	text-decoration: none;
}
.uhide{
	display: none!important;
}
.nav>li>a{
	display: block;
}
.header{
	display: none;
	position: relative!important;
	z-index: 99!important;
}
.dbox{
	/*display: -webkit-flex;
	display: flex;*/
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
}
.dbflex-1{
	/*flex: 1;*/
	-webkit-box-flex: 1.0;
	-moz-box-flex: 1.0;
	-ms-box-flex: 1.0;
	-o-box-flex: 1.0;
	box-flex: 1.0;
}
/*清除浮动*/
.tab_nav:after, .tab_ctnr:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
}
/* 播放器 */
#player{
	height: 17.583333rem;
	/*height: 19.5rem;*/
	background-color: #737383;
	position: relative;
}
#player span[data-type="dan"]{
	display: none!important;
}
/*未报名*/
.noAccess, .liveEnd{
	display: none;
	position: relative;
	width: 100%;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	/*padding-top: 1.666666rem;*/
}
.noAccessTips, .liveEndTips{
	font-size: 1.166666rem;
	color: #FFFFFF;
	margin-bottom: 1.666666rem;
}
.goSign, .goDownload{
	display: block;
	width: 10.25rem;
	height: 2.75rem;
	line-height: 2.75rem;
	text-align: center;
	background-color: #3573B3;
	border-radius: 50px;
	color: #FFFFFF;
	font-size: 1.166666rem;
	margin: auto;
}
.liveplayStatus{
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2.75rem;
	line-height: 2.75rem;
	background-color: rgba(0, 0, 0, .4);
	color: #FFFFFF;
	font-size: 1rem;
}
.liveplayStatus>div{
	display: none;
	padding-left: 1.25rem;
}
.liveplayStatus>div>span{
	font-family: PingFangSC-Medium,"microsoft yahei";
}
.liveplay>span{
	font-size: 1.333333rem;
}
.countdown>span{
	font-size: 1.25rem;
	color: #F7A90C;
}
.living{
	font-size: 1.25rem;
	color: #7ED321;
}
.tab_wrp{
	width: 100%;
	overflow-x: hidden;
}
/*在线人数和点赞数*/
.countMsg{
	display: none;
	position: absolute;
	right: 1.166666rem;
	top: 1rem;
	background-color: rgba(0, 0, 0, .4);
	border-radius: 50px;
	color: #FFFFFF;
	font-size: 1rem;
	height: 2.083333rem!important;
	line-height: 2.083333rem!important;
	padding: 0 1.125rem;
	z-index: 98;
}
.realtime{
	display: inline-block;
	background: url(images/icon_live_online.png) no-repeat left center;
	background-size: 1rem 1rem;
	padding: 0 0.75rem 0 1.5rem;
	border-right: 1px solid #737383;
}
.liketime{
	display: inline-block;
	padding-left: 2.25rem;
	background: url(images/icon_live_good.png) no-repeat 0.75rem center;
	background-size: 1rem 1rem;
}
.liketime:focus, .liketime:active{
	background-image: url(images/icon_live_good_pre.png);
	color: #CCCCCC;
	background-size: 1rem 1rem;
}
/* 导航 */
.tab_nav{}
.tab_nav>li{
	background-color: #FEFEFE;
	float: left;
	width: 50%;
	height: 3.666666rem;
	line-height: 3.666666rem;
	text-align: center;
	font-family: PingFangSC-Medium,"microsoft yahei";
	font-size: 1.166666rem;
	color: #333333;
}
.tab_nav>li.active{
	color: #3573B3;
	position: relative;
}
.tab_nav>li.active:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 3.333333rem;
	height: 0.25rem;
	background-color: #3573B3;
}
/*内容*/
.tab_ctnr{
	width: 200%;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	zoom: 1;
	transition: -webkit-transform 0.4s linear;
}
#tab_chat{
	overflow-y: auto;
}
#tab_chat, #tab_msg{
	width: 50%;
	height: 100%;
	float: left;
	/*overflow-y: auto;*/
	position: relative;
}
#tab_msg img{
	max-width: 100%!important;
}
/*聊天*/
.MsgBox{
	/*background-color: #F5F5F5;*/
	padding: 0 1.25rem 1rem;
	/*margin-bottom: 5rem;*/
}
/*管理员通知*/
.adminCtn{
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
}
.adminTips{
	position: relative;
	height: 3.333333rem!important;
	line-height: 3.333333rem!important;
	background: #FFF9E7 url(images/icon_live_notice.png) no-repeat 0.666666rem center;
	background-size: 1.333333rem 1.333333rem;
	border: 1px solid #FAEBBF;
	padding: 0 2.75rem;
	font-size: 1.083333rem;
	font-family: PingFangSC-Medium,"microsoft yahei";
	color: #FF8B00;
	/*display: none;*/
}
.adminTips:after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 4.666666rem;
	height: 100%;
	/*background-image: -moz-linear-gradient(-90deg, rgba(255,249,231,0.00) 0%, #FFF9E7 39%, rgba(255,249,231,0.00) 100%);
	background-image: -o-linear-gradient(-90deg, rgba(255,249,231,0.00) 0%, #FFF9E7 39%, rgba(255,249,231,0.00) 100%);
	background-image: -webkit-linear-gradient(-90deg, rgba(255,249,231,0.00) 0%, #FFF9E7 39%, rgba(255,249,231,0.00) 100%);
	background-image: linear-gradient(-90deg, rgba(255,249,231,0.00) 0%, #FFF9E7 39%, rgba(255,249,231,0.00) 100%);*/
	background: url(images/mask_live_notice.png) no-repeat left top;
	background-size: 100% 100%;
	z-index: 1;
}
.adminTips .marquee{
	overflow: hidden;
}
.adminTips>div:last-child{
	position: absolute;
	top: 0;
	right: 0;
	width: 2.75rem;
	height: 100%;
	background: url(images/btn_live_notice_close.png) no-repeat center center;
	background-size: 0.833333rem 0.833333rem;
	z-index: 2;
}
/*公告*/
.noticeMsg{
	margin: 1rem 1.25rem 0;
	background: #FFFAE7;
	border: 1px solid #FAEBBF;
	border-radius: 3px;
	padding: 0.5rem 0.416666rem;
	font-size: 1.083333rem;
	color: #FF8B00;
	line-height: 1.5rem;
	display: none;
}
/*文本消息*/
.txtMsg{
	margin-top: 1.166666rem;
	font-size: 1.166666rem;
	-webkit-box-align: baseline;
	-moz-box-align: baseline;
}
.txtMsg>div:first-child{
	font-family: PingFangSC-Medium,"microsoft yahei";
	color: #3D96F2;
}
.txtMsg>div:first-child>.dbflex-1{
	max-width: 7rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.txtMsg.isAdminTip>div:first-child{
	font-family: PingFangSC-Medium,"microsoft yahei";
	color: #FF8B00;
}
.txtMsg>div:last-child{
	color: #333333;
	line-height: 1.333333rem;
	word-wrap: break-word;
	word-break: break-all;
}
/*打赏消息*/
.tipMsg{
	text-align: center;
}
.tipMsg>div{
	display: inline-block;
	width: auto;
	height: 2.5rem;
	line-height: 2.5rem;
	margin: 1.166666rem auto 0;
	padding: 0 1.375rem 0 2.625rem;
	background: url(images/icon_live_chat_present_s.png) no-repeat 1.375rem center;
	background-color: #EBEBEB;
	border-radius: 4px;
	background-size: 1.25rem 1.25rem;
	font-size: 1rem;
	font-family: PingFangSC-Medium,"microsoft yahei";
	color: #999999;
}
.tipMsg>div>span{
	margin: 0.666666rem;
	color: #5C5C5C;
}
/*发送*/
.sendBox{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 4rem;
	background-color: #FEFEFE;
	border-top: 1px solid #E0E0E0;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.24);
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
}
.shareFuc{
	width: 4rem;
	height: 100%;
	background: url(images/icon_live_share.png) no-repeat center center;
	background-size: 2.5rem;
}
.likeFuc{
	width: 3.25rem;
	height: 100%;
	background: url(images/btn_live_great.png) no-repeat right center;
	background-size: 2.5rem;
	position: relative;
}
.likeAnimate{
	display: none;
	position: absolute;
	/*right: 0;
	top: -2.5rem;
	width: 2.5rem;
	height: 2.5rem;
	opacity: 1;*/
	background: url(images/icon_live_great_hand.png) no-repeat center center;
	background-size: 100% 100%;
}
.likeFuc:focus, .likeFuc:active{
	background-image: url(images/btn_live_great_pre.png);
	background-size: 2.5rem;
}
.tipFuc{
	width: 4rem;
	height: 100%;
	background: url(images/btn_live_present.png) no-repeat center center;
	background-size: 2.5rem;
}
.tipFuc:focus, .tipFuc:active{
	background-image: url(images/btn_live_present_pre.png);
	background-size: 2.5rem;
}
.sendFuc{
	height: 3rem;
	border: 1px solid #E0E0E0;
	border-radius: 3px;
	background-color: #F5F5F5;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	/*margin-left: 0.75rem;*/
	margin-right: 0.75rem;
}
.msgInput{
	display: block;
	background-color: #F5F5F5;
	outline: none;
	font-size: 1.083333rem;
	color: #333333;
	padding: 0.833333rem;
}
.sendMsg{
	position: relative;
	width: 3.166666rem;
	height: 100%;
}
.sendMsg>div{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	height: 1.166666rem;
	border-left: 1px solid #E0E0E0;
	background: url(images/icon_live_commit.png) no-repeat center center;
	background-size: 1.166666rem;
}
/*新消息提示*/
.newMsgTips{
	position: fixed;
	bottom: 5rem;
	left: 0;
	width: 50%;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	font-size: 1rem;
	color: #FF8B00;
	z-index: 99;
	display: none;
}
.newMsgTips>div{
	padding: 0 2.333333rem 0 1.666666rem;
	display: inline-block;
	background-color: #FEFEFE;
	background-size: 1rem 1rem;
	border: 1px solid #E0E0E0;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
	border-radius: 4px;
	position: relative;
}
.newMsgTips>div:after{
	content: "";
	width: 0.833333rem;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0.833333rem;
	background: url(images/icon_live_newmsg.png) no-repeat center center;
	background-size: 100%;
	
}
/* 分享 */
.shareTips{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2001;
	background-color: rgba(0, 0, 0, .9);
}
/*打赏*/
.tipLayer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, .4);
	z-index: 98;
	display: none;
}
.tipContainer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.tipcTitle{
	height: 4.166666rem;
	line-height: 4.166666rem;
	background: #FF5353 url(images/icon_live_chat_present.png) no-repeat 1.5rem center;
	background-size: 2.5rem;
	padding-left: 4.833333rem;
	font-size: 1.333333rem;
	color: #FFFFFF;
	font-family: PingFangSC-Medium,"microsoft yahei";
	position: relative;
}
.tipctClose{
	position: absolute;
	right: 0;
	top: 0;
	width: 4rem;
	height: 100%;
	background: url(images/icon_live_present_close.png) no-repeat center center;
	background-size: 1.333333rem 1.333333rem;
}
.tipcCtn{
	font-family: PingFangSC-Medium,"microsoft yahei";
	background-color: #FFF9E7;
	padding: 2.833333rem 1.5rem 1.666666rem;
}
.feeList{
	margin-bottom: 1.5rem;
	text-align: center;
}
.feecount{
	width: 7rem;
	height: 3.5rem;
	line-height: 3.5rem;
	margin-right: 1.625rem;
	background-color: #FFFAFA;
	border: 1px solid rgba(255, 120, 120, .58);
	border-radius: 4px;
	color: #FF5353;
	font-size: 1.333333rem;
	position: relative;
}
.feecount:last-child{
	margin-right: 0;
}
.feecount.checked:after{
	content: "";
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	right: -0.75rem;
	top: -0.75rem;
	background: url(images/icon_live_present_select.png) no-repeat;
	background-size: 100% 100%;
}
.wxPay{
	background-color: #FEFEFE;
	border: 1px solid #E0E0E0;
	border-radius: 4px;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.333333rem;
	color: #333333;
	text-align: center;
}
.wxPay>div{
	display: inline-block;
	background: url(images/icon_live_present_pay.png) no-repeat left center;
	background-size: 1.5rem 1.5rem;
	padding-left: 2.5rem;
}
.wxPay.checked{
	background: #FEFEFE;
	background-image: -moz-linear-gradient(-180deg, #F5F5F5 1%, #FAFAFA 47%, #F4F2F2 100%);
	background-image: -o-linear-gradient(-180deg, #F5F5F5 1%, #FAFAFA 47%, #F4F2F2 100%);
	background-image: -webkit-linear-gradient(-180deg, #F5F5F5 1%, #FAFAFA 47%, #F4F2F2 100%);
	background-image: linear-gradient(-180deg, #F5F5F5 1%, #FAFAFA 47%, #F4F2F2 100%);
}
