@charset "utf-8";

body {
	max-width: 750px!important;
	margin: 0 auto!important;
}
.poster_model_list {
	display: -webkit-flex;
	display: flex;
	box-sizing: border-box;
}
.poster_model_item {
	width: 8.625rem;
	height: 4.524999rem;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 1rem;
}

#poster_demo{
	position: relative;
	margin: 1.25rem;
	/*如果模板大小不一样，可注释掉高度*/
	/*height: 15rem;*/
	overflow: hidden;
}
.poster_demo_bg{
	width: 100%;
	height: 100%;
	z-index: 1;
}
.poster_demo_ele{
	position: absolute;
	z-index: 2;
}
.poster_demo_text {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
	padding: 0 2rem;
	box-sizing: border-box;
	font-size: 1.25rem;
	color: #FFFFFF;
	text-align: center;
}
.poster_demo_text>p{
	font-family: PingFangSC-Regular, "microsoft yahei";
	font-weight: lighter;
}

#poster_input {
	margin: 1.25rem;
	display: -webkit-flex;
	display: flex;
}
#poster_text{
	flex: 1;
	box-sizing: border-box;
    padding: .133333rem .213333rem;
    color: #000;
    border: 1px solid #999;
    border-radius: .133333rem;
    resize: none;
    outline: none;
}

#poster_output {
	padding: 1.25rem;
}
